.container {
    width: 60%;
    margin: auto;
}

@media (max-width: 991px) {
    .container {
        width: 90%;
    }
}

.add-address-form {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 32px;
}

.shipping {
    padding: 8px;
    margin: 15px 0;
}

.streetname, .city, .state-province, .country {
    padding: 8px;
    margin-bottom: 15px;
}

.label-name {
    padding: 0 8px;
    color: #60695C;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input-box {
    padding: 8px 16px;
    border-radius: 13px;
    box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
}

.default-label-text {
    color: #1A1F16;
    font-weight: 400;
}


