.address-container{
    background: #ffff;
    border-radius: 20px ;
    margin-bottom: 50px;
}

.btn-address{
    border: 1px solid #1A1F16;
    border-radius: 11px;
    padding: 4px 14px;
    background-color: transparent;
    position: relative;
    top: 35%;
}
.address-content{
    margin: 20px;
}