
.cart-item-image {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px;
}

.view-bag-button {
    color: #ffffff;
    background-color: #1A1F16;
    border: none;
    border-radius: 14px;
    padding: 8px 24px;
    text-decoration: none;
}

.back-to-checkbag {
    display: block;
    margin: auto;
    border: none;
}
